$primaryText: #202020;
$whiteText: #ffffff;
// $brand: #ff7316;
$brand: #fde507;
$brand2: #ec1a01;
$brandOpaque: #ec1801ab;
$brandHover: #ff412c;
$brandActive: #970f00;
$brandActiveHover: #bb1300;

$bg: #00000a;
$shadow: #292927;
